.catergory {
  width: 100%;
  padding-top: 10px;
}
.sc-box {
  float: right;
  height: inherit;
  text-align: center;
  border-radius: 3px;
  background-color: #ffffff;
}
.scbt {
  cursor: pointer;
}
.scbt:hover {
  color: #1fbf8f;
}
@media only screen and (max-width: 600px) {
  .sc-box {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .sc-box {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .sc-box {
    display: block;
    width: 65%;
  }
  .scbtt {
    font-size: 1.1em;
  }
  .scbt {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 1200px) {
  .sc-box {
    width: 60%;
  }
  .scbtt {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 1800px) {
  .sc-box {
    width: 50%;
  }
  .scbtt {
    font-size: 1.2em;
  }
  .scbt {
    font-size: 1em;
  }
}
