.divided-profile {
  background-color: #fff;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
.hide-right-menu {
  display: none;
}
.profile {
  background-color: #fff;
  display: grid;
  grid-template-columns: 20% 80%;
}
.main-pis {
  display: grid;
  grid-auto-rows: 10% 50% 30% 50%;
  margin: 20px 200px;
  padding: 0px 48px;
}
.pis-header {
  padding: 10px;
  text-align: center;
  display: grid;
}
.pish-more-info {
  color: #444444;
}
