.mccc {
  width: 100%;
  height: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.mmccc {
  background-color: #bbbbbb;
}
@media only screen and (max-width: 600px) {
  .mccc {
    display: grid;
    grid-template-columns: 1 / 3;
  }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1800px) {
}
