.coinmarketplace {
  width: 100%;
  padding-top: 10px;
}
.sccc-box {
  width: 70%;
  float: left;
  height: inherit;
  background-color: #fff;
  text-align: center;
  border: 1px solid #eee;
}
@media only screen and (max-width: 600px) {
  .sccc-box {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .sccc-box {
    display: none;
  }
  .scccbt {
    font-size: 1em;
  }
}
@media only screen and (min-width: 992px) {
  .sccc-box {
    display: block;
    width: 75%;
  }
  .scccbt {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1200px) {
  .sccc-box {
    width: 70%;
  }
}
@media only screen and (min-width: 1800px) {
  .sccc-box {
    width: 65%;
  }
  .scccbt {
    font-size: 1.17em;
  }
}
