.coinmarketplace {
  width: 100%;
  padding-top: 10px;
}
.sccc-box {
  width: 80%;
  float: left;
  height: inherit;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
}
.scccbt {
  margin: 0;
  color: #fff;
  line-height: 50px;
  background-color: #555555;
}
.sccc-graph {
  line-height: 30px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #eee;
}
.coin-title {
  padding-top: 10px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.coin-graph {
  height: 200px;
}
@media only screen and (max-width: 600px) {
  .sccc-box {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .sccc-box {
    display: none;
  }
  .scccbt {
    font-size: 1em;
  }
}
@media only screen and (min-width: 992px) {
  .sccc-box {
    display: block;
    width: 80%;
  }
  .scccbt {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1200px) {
  .sccc-box {
    width: 75%;
  }
}
@media only screen and (min-width: 1800px) {
  .sccc-box {
    width: 70%;
  }
  .scccbt {
    font-size: 1.2em;
  }
}
