.container {
	width: 100vw;
	height: 65px;
	background-color: #d4d7de;
}
.column-left {
	float: left;
	width: 33.33vw;
	font-size: 40px;
}

.column-center {
	float: left;
	width: 33.33vw;
}

.column-right {
	float: right;
	width: 33.33vw;
}
.rmenu {
	float: right;
	margin-right: 15px;
}
.a {
	font-size: 20px;
	text-transform: uppercase;
}
.a:hover {
	color: rgb(83, 221, 221);
}
