body {
	width: 0;
	height: 0;
	font-weight: bolder;
	color: black;
}
.r-container {
	width: 100vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.r-content {
	border-radius: 20px;
	background: #f6f5f7;
	width: 25em;
	height: 35rem;
	border: 1px solid #eee;
}
h1 {
	padding: 25px;
}
h5 {
	padding-top: 20px;
	font-size: 15px;
}
.link {
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.r-form {
	background-color: #ddd;
	border: none;
	padding: 12px 15px;
	margin: 10px 5px;
	width: 90%;
	border: 1px solid #eee;
}
.r-re-box {
	display: flex;
	justify-content: center;
}

.r-re-box a {
	color: rgb(31, 127, 253);
	font-size: 14px;
}
.r-button {
	cursor: pointer;
	border-radius: 20px;
	border: 1px solid #a02bff;
	background-color: #a02bff;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 70px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin: 15px;
}
button:active {
	transform: scale(0.95);
}
button:focus {
	outline: none;
}
