.r-container {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.r-content {
	border-radius: 20px;
	background: #f6f5f7;
	width: 23em;
	height: 34rem;
	border: 1px solid #eee;
}
.create {
	padding: 25px;
}
.r-form {
	background-color: #ddd;
	border: none;
	padding: 12px 15px;
	margin: 10px 5px;
	width: 90%;
	border: 1px solid #eee;
	border-radius: 5px;
}.already-acc{
	font-weight: normal;
	font-size: 16px;
	display: grid;

}
.r-login {
	color: black;
	text-align: start;
	text-decoration: none;
}
.r-login:hover{
	color:rgb(56, 155, 247);
}
.r-re-box {
	display: grid;
	grid-template-columns: 70% 30%;
}

.r-button {
	cursor: pointer;
	border-radius: 20px;
	border: 1px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 70px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin: 15px;
}
button:active {
	transform: scale(0.95);
}
button:focus {
	outline: none;
}
