.Main-Banner {
  width: 100%;
  height: 100%;
}
.Banner {
  width: 100%;
  height: 60vh;
  filter: brightness(95%);
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
}
.fa-window-close {
  color: #fff;
  width: inherit;
  float: right;
  margin: 5px;
  cursor: pointer;
  font-size: 1.8rem;
}
.fa-window-close:active {
  transform: scale(0.95);
}
.B-Text {
  margin: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-right: -50%;
  color: white;
  font-size: 2.6rem;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 600px) {
  .B-Text {
    font-size: 1.5rem;
  }
  .crossbg {
    font-size: 1.3rem;
  }
}
